.elementor-2943 .elementor-element.elementor-element-59b60c3b .elementor-heading-title{color:#000;font-family:"Raleway",Sans-serif;font-weight:400}.elementor-2943 .elementor-element.elementor-element-71e9e410 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2943 .elementor-element.elementor-element-757c3445 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2943 .elementor-element.elementor-element-5d50e875 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2943 .elementor-element.elementor-element-d10057e .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2943 .elementor-element.elementor-element-9029a5f .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2943 .elementor-element.elementor-element-5a136a38 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2943 .elementor-element.elementor-element-9942018 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2943 .elementor-element.elementor-element-d32d9e8 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2943 .elementor-element.elementor-element-1502a5ff .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}
/*
     FILE ARCHIVED ON 19:19:32 May 02, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:23:24 Jun 16, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.633
  exclusion.robots: 0.089
  exclusion.robots.policy: 0.077
  esindex: 0.011
  cdx.remote: 27.458
  LoadShardBlock: 99.218 (3)
  PetaboxLoader3.datanode: 105.278 (5)
  PetaboxLoader3.resolve: 485.691 (2)
  load_resource: 517.452
  loaddict: 25.76
*/