.elementor-2965 .elementor-element.elementor-element-7b46c8ed .elementor-heading-title{color:#000;font-family:"Raleway",Sans-serif;font-weight:400}.elementor-2965 .elementor-element.elementor-element-21966aac .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2965 .elementor-element.elementor-element-62437a5c .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2965 .elementor-element.elementor-element-110ddb6e .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}
/*
     FILE ARCHIVED ON 22:52:06 Nov 18, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:21:25 Jun 16, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.436
  exclusion.robots: 0.072
  exclusion.robots.policy: 0.065
  esindex: 0.007
  cdx.remote: 8.594
  LoadShardBlock: 73.394 (3)
  PetaboxLoader3.datanode: 90.838 (5)
  PetaboxLoader3.resolve: 381.819 (2)
  load_resource: 415.118
  loaddict: 23.851
*/