.footer-width-fixer{width:100%}.ehf-template-genesis.ehf-header .site-header .wrap,.ehf-template-genesis.ehf-footer .site-footer .wrap,.ehf-template-generatepress.ehf-header .site-header .inside-header{width:100%;padding:0;max-width:100%}.ehf-template-generatepress.ehf-header .site-header,.ehf-template-generatepress.ehf-footer .site-footer{width:100%;padding:0;max-width:100%;background-color:transparent !important}.bhf-hidden{display:none}.ehf-header #masthead{z-index:99;position:relative}
/*
     FILE ARCHIVED ON 00:03:02 Apr 20, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:28:27 Jun 17, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.388
  exclusion.robots: 0.06
  exclusion.robots.policy: 0.053
  esindex: 0.006
  cdx.remote: 7.42
  LoadShardBlock: 85.129 (3)
  PetaboxLoader3.datanode: 111.973 (5)
  PetaboxLoader3.resolve: 61.987 (2)
  load_resource: 96.35
  loaddict: 21.959
*/