.elementor-2952 .elementor-element.elementor-element-13847bf9 .elementor-heading-title{color:#000;font-family:"Raleway",Sans-serif;font-weight:400}.elementor-2952 .elementor-element.elementor-element-21c3d5b7 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2952 .elementor-element.elementor-element-1f37d2ed .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2952 .elementor-element.elementor-element-19fb7b95 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2952 .elementor-element.elementor-element-6043197c .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2952 .elementor-element.elementor-element-307a2420 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}
/*
     FILE ARCHIVED ON 00:04:29 Apr 20, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:11 Jun 17, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.792
  exclusion.robots: 0.127
  exclusion.robots.policy: 0.113
  esindex: 0.011
  cdx.remote: 60.48
  LoadShardBlock: 341.505 (3)
  PetaboxLoader3.datanode: 196.216 (5)
  PetaboxLoader3.resolve: 159.579 (3)
  load_resource: 160.21
  loaddict: 77.88
*/