.elementor-3185 .elementor-element.elementor-element-5b4e47d2 .elementor-heading-title{color:#000;font-family:"Raleway",Sans-serif;font-weight:400}.elementor-3185 .elementor-element.elementor-element-77aed8e1 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-3185 .elementor-element.elementor-element-712e14a8 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}
/*
     FILE ARCHIVED ON 06:23:37 Sep 18, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:23:24 Jun 16, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.792
  exclusion.robots: 0.116
  exclusion.robots.policy: 0.1
  esindex: 0.012
  cdx.remote: 6.915
  LoadShardBlock: 106.018 (3)
  PetaboxLoader3.datanode: 130.3 (5)
  PetaboxLoader3.resolve: 451.327 (2)
  load_resource: 518.741
  loaddict: 57.558
*/