.elementor-3185 .elementor-element.elementor-element-5b4e47d2 .elementor-heading-title{color:#000;font-family:"Raleway",Sans-serif;font-weight:400}.elementor-3185 .elementor-element.elementor-element-77aed8e1 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-3185 .elementor-element.elementor-element-712e14a8 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}
/*
     FILE ARCHIVED ON 07:25:14 Nov 18, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:23:27 Jun 16, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.584
  exclusion.robots: 0.095
  exclusion.robots.policy: 0.084
  esindex: 0.007
  cdx.remote: 18.783
  LoadShardBlock: 95.585 (3)
  PetaboxLoader3.datanode: 152.604 (5)
  PetaboxLoader3.resolve: 126.492 (2)
  load_resource: 214.729
  loaddict: 38.745
*/