.elementor-3053 .elementor-element.elementor-element-38eea5b3 .elementor-heading-title{color:#000;font-family:"Raleway",Sans-serif;font-weight:400}.elementor-3053 .elementor-element.elementor-element-522eb2ec .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-3053 .elementor-element.elementor-element-4149207c .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-3053 .elementor-element.elementor-element-6bff3cc8 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-3053 .elementor-element.elementor-element-3df42848 .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}
/*
     FILE ARCHIVED ON 14:26:42 Sep 18, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:22:33 Jun 16, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.749
  exclusion.robots: 0.103
  exclusion.robots.policy: 0.087
  esindex: 0.015
  cdx.remote: 53.328
  LoadShardBlock: 52.96 (3)
  PetaboxLoader3.datanode: 105.891 (5)
  PetaboxLoader3.resolve: 2555.342 (2)
  load_resource: 2644.194
  loaddict: 67.769
*/