.elementor-2965 .elementor-element.elementor-element-7b46c8ed .elementor-heading-title{color:#000;font-family:"Raleway",Sans-serif;font-weight:400}.elementor-2965 .elementor-element.elementor-element-21966aac .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2965 .elementor-element.elementor-element-62437a5c .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}.elementor-2965 .elementor-element.elementor-element-110ddb6e .elementor-heading-title{color:#ff1e00;font-family:"Raleway",Sans-serif;font-size:18px;font-weight:600}
/*
     FILE ARCHIVED ON 22:26:20 Nov 18, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:21:25 Jun 16, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.413
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.058
  esindex: 0.006
  cdx.remote: 32.495
  LoadShardBlock: 138.492 (3)
  PetaboxLoader3.resolve: 180.897 (4)
  PetaboxLoader3.datanode: 198.128 (5)
  load_resource: 294.564
  loaddict: 171.871
*/